.AI_Assistent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.input-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.input-area textarea {
  width: 50%;            
  height: 60px;
  border-radius: 20px;
  border: none;
  resize: none;
  outline: none;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 16px;
  box-sizing: border-box;
  font-size: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);;
}

.input-area button {
  margin-left: 10px;
  padding: 15px;
  border-radius: 100%;
  font-size: 25px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
   
}


textarea::placeholder {
  padding-top: 15px;
  font-size: large;
  color: #888;
}


.response {
  margin-top: 20px;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  color: #fcf9f9;
  word-wrap: break-word;
  background-color: #3f3f3f;
  padding:10px;
  border-radius: 30px;
}
textarea::placeholder {
  font-size: 20px;
}
.response-card {
  background-color: rgb(12, 12, 12);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(124, 8, 8, 0.2);
  padding: 20px;
  position: relative;
  width: 300px;
  text-align: center;
  width: 60%;
  margin-bottom: 30px;
  max-height: 60vh;
  overflow-y: auto;
  
}

.response-card button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  max-height: 40%;
  overflow-x: hidden;
  box-sizing: border-box;
  color : #fff;
  font-family: monospace;
  
  
}
.response-card::-webkit-scrollbar {
  width: 8px;
}

.response-card::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}