.AI_Assistent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.input-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.input-area textarea {
  width: 50%;            
  height: 60px;
  border-radius: 20px;
  border: none;
  resize: none;
  outline: none;
  padding: 10px 15px;
  line-height: 20px;
  font-size: 16px;
  box-sizing: border-box;
  font-size: 30px;
}

.input-area button {
  margin-left: 10px;
  padding: 15px;
  border-radius: 100%;
  font-size: 25px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


textarea::placeholder {
  font-size: large;
  color: #888;
}


.response {
  margin-top: 20px;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: #050505;
  width: 60%;
  word-wrap: break-word;
  background-color: #f3f3f3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding:10px;
}
textarea::placeholder {
  font-size: 20px;
}