
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 3fr)); /* 3 per row, responsive */
  gap: 20px;
  padding: 20px;
  
}

.content {
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #faf7f7;
}
.content:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.content h1 {
  font-size: 1.4rem;
  color: #333;
}
.content h2,
.content h3,
.content h4 {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}
.content p {
  opacity: 0;
  max-height: 0;
   overflow: hidden; 
   transform: translateY(10px);
  transition: all 0.8s ease;  

  font-size: 0.9rem;
  color: #444;
  line-height: 1.4;
  font-size: x-large;
}
.content:hover p {
  opacity: 1;
max-height: 200px; 
  transform: translateY(0)
}

img{
    width: 100%;
    height: 400px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}