 body {
  margin: 0;
  padding: 0;
 }


.home {
   display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
  
}


.home_card {      
  height: 100vh;        
  padding: 30px; 
  display: flex;
  flex-direction: column;   
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.assistant_wrapper {
  position: fixed;      
  bottom: 0;            
  left: 0;
  width: 100%;
  margin-bottom: 10px;
  z-index: 1;
  padding: 10px 20px;  

}
.home_title {
  font-size: 2rem;
  color: #111;
  margin-bottom: 30px;  
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
  flex-direction: column;   
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

h1 span{
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(172, 172, 170);
}


.flex-cards {
    display: grid;
  grid-template-columns: repeat(2, 1fr);  /* Stretch equally */
  gap: 40px;                                /* Balanced spacing */
  margin-top: 100px;
  width: 100%;                              /* Fill full width */
  padding: 0 40px;                           /* Add left/right gap */
  box-sizing: border-box;
  justify-items: center;
  justify-content: center; 
      
}

.first-cart {
  display: flex;
  flex-direction: row;   
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
    height: 400px;
    width: 100%;
 max-width: 600px;

}
.first-cart img{
  width: 100%;
  height: 100%;  
}

.card-title {
  width: 50%; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;              
  color: rgb(15, 15, 15);
  font-size: 100px;
  text-align: left;

}

.card-title span{
  color: #d30c0c;
  font-size: 70px;
}

.sec-card-title{
 font-size: 40px;
 background-color:  #05e8f8;
 color: #111;
 padding: 40px;
 border-radius: 20px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-desc{
  font-family: 'Courier New', Courier, monospace;              
 font-size: 40px;
}


.sec-cart {
  display: flex;          
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(200px);
  overflow: hidden;  
  margin-top: 20px;
  transform: translateY(-40px);
  height: 400px;
  width: 100%; 
  max-width: 600px;
  position: relative;
}

.sec-cart img{
 width: 100%;
  height: 100%; 
}

.first-cart:hover,
.sec-cart:hover {
 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);

} 

