 body {
  margin: 0;
  padding: 0;
 }


.home {
  background-color:  rgba(240, 234, 234, 0.952);
  background-size: cover;            
  background-position: center;       
  min-height: 100vh;                 
  width: 100%;                       
  display: flex; 
  justify-content: center; 
  align-items: center; 
  
}


.home_card {
  background-color:  rgba(255, 255, 255, 0.9);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%; 
  margin-top: 8%;        
  height: 100vh;       
  padding: 30px;
  display: flex;
  flex-direction: column;   
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.assistant_wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;

}
.home_title {
  font-size: 2rem;
  color: #111;
  margin-bottom: 30px;  
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 span{
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(172, 172, 170);
}


.flex-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr)); 
  gap: 100px;
  width: 100%;
  margin: 100px auto;
}
.first-cart {
background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(-10px);
}

.sec-cart {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-self: end; 
  margin-top: 20px;
   transform: translateY(200px);
}


.first-cart:hover,
.sec-cart:hover {
 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
} 

