body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden;  */
}
.home {
  background-image: url("./home/home.jpg");
  background-size: cover;            
  background-position: center;      
  background-repeat: no-repeat;     
  height: 100vh;                    
  opacity: 0.7;                     
               
}
