body{
  margin: 0;
  padding: 0;

}
a{
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  /* background:   rgba(240, 234, 234, 0.952); */
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%;
  position: sticky;
 
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: rgb(7, 7, 7);
  cursor: pointer;
  padding: 20px;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.right-menu{
  margin-right: 2%;
  list-style: none;
}